.modal-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal-box {
  background: #fff;
  width: 600px;
  max-height: 80vh;
  border-radius: 8px;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 20px;
  overflow: scroll;
}

.close-btn {
  position: absolute;
  top: 12px;
  left: 12px;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.modal-content {
  padding: 20px;
  overflow-y: auto;
}

@media print {
  html, body {
    direction: rtl;
    margin: 0;
  }
  .infoDetails {
    flex-direction: column;
    align-items: flex-start;
  }
  body * {
    visibility: hidden;
  }

  .print-area,
  .print-area * {
    visibility: visible;
  }

  .print-area {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  }

  .close-btn,
  .add-btn {
    display: none !important;
  }
}

.error-zod {
    color: red;
    min-height: 14px;
}
