.loading{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  animation: load;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  margin: auto;
}

@keyframes load {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
a{
  text-decoration: none;
}

.error{
  display: block;
  padding: 10px;
  background: #f8d7da;
  color: #842029;
  border-radius: 12px;
  margin-top: 10px;
  border-radius: 12px;
  font-size: 16px;
}

/* .toast{
  position: fixed;
  bottom: 30px;
  right: 50px;
  color: "white";
  padding: "12px 20px";
  background-color: green;
  border-radius: 8;
  box-shadow: "0 4px 10px rgba(0,0,0,0.2)";
  z-index: 9999;
  width: 200px;
} */
