.loading{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  animation: load;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  margin: auto;
}
a{
  text-decoration: none;
}

.error{
  display: block;
  padding: 10px;
  background: #f8d7da;
  color: #842029;
  border-radius: 12px;
  margin-top: 10px;
  border-radius: 12px;
}